/* src/components/StudentList.css */

.student-list {
  margin-bottom: 20px;
}

.student-list h2 {
  color: #333;
}

.student-list ul {
  list-style-type: none;
  padding: 0;
}

.student-list li {
  margin-bottom: 5px;
}
